header nav{
    z-index: 1;
    height: 100%;
}
header nav.d-flex div.d-flex{
    width: 280px;
}

header nav div.d-flex{
    background-color: #4B0082;
    
}
.nav-item .selected{
    background-color: #007bff;
    color: #fff;
    border-style: solid;
    border-radius: 5px;
}

main.col-10 {
    margin-left: 17.8rem;
}


.nav-item:hover{
    background-color: #170127;
    color: #fff;
    border-radius: 6px;
}
@media (max-width: 1200px){
    header nav.d-flex div.d-flex{
        height: auto;
        width: 200px;
    }
}
@media (max-width: 574px){
    header nav.d-flex div.d-flex{
        height: auto;
        width: 150px;
    }
}
@media (max-width: 490px){
    header nav.d-flex div.d-flex{
        height: auto;
        width: 120px;
    }
}